#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #161616;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616;
    height: 100vh;
    overflow: hidden;
    /* transform: scale(1.1); */
}

.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
}

.hidden {
    display: none !important;
}

#main-screen {
    background-color: transparent;
}

#main-screen h1 {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

#main-screen ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 15px;
    flex-wrap: wrap; 
    justify-content: center; 
}

#main-screen ul li a {
    text-decoration: none;
    color: #FFF;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    display: flex;          
    align-items: center;    
    justify-content: center;
    gap: 10px;                 
    line-height: 1;     
    cursor: pointer;
    border: none;
    outline: none;   
    padding: 15px 40px;
    position: relative;
    z-index: 0;

}

#main-screen ul li a::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#main-screen ul li a::before {
    content: "";
    background: linear-gradient(
        50deg, 
        #e100ff, #e100ffdb, #e100ffb5, #e100ffb3,
        #e100ffb2, #e100ffb5, #e100ffdb, #e100ff
    );    
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(10px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

#main-screen ul li a:hover::before {
    opacity: 1;
}

#main-screen ul li a i {
    font-size: 20px; 
}